body {
    height: 100%;
    text-align: center;
    color: #013243;
    background-color: #fcfbf6;
}

a {
	color: #013243;
}

a:hover {
	text-decoration: none;
}


.container {
	color: #013243;
}

.row {
	margin: 0;
	margin-bottom: 10px;
}

.logo {
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	vertical-align: middle;
}

.button_link {
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 35px;
	width: 125px;
	margin: 0 20px 0 20px;
}

.button_link:hover {
	color: skyblue;
	border: 2px solid skyblue;
} 

.fa-shopping-cart {
	font-size: 20px;
}

.fa-shopping-cart:hover {
	color: skyblue;
}

#category {
	text-align: center;
	background: #c6e4ee;
	width: 100%;
	list-style: none;
	display: inline-block;
}

ul {
	padding: 15px;
	margin-bottom: 0;

}
li {
	position: relative;
	display: inline-block;
	width: calc((100% / 6) - 10px);
	margin-right: 10px;
	vertical-align: middle;
	text-align: center;
}

.col-3 {
	max-width: 100%;
}

.col-6 {
	padding: 15px 30px;
}
