.add_cart {
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 35px;
	width: 125px;
	margin: 0 20px;
}

.add_cart:hover {
	color: skyblue;
	border: 2px solid skyblue;
} 

.fa-shopping-cart {
	font-size: 20px;
}

.fa-shopping-cart:hover {
	color: skyblue;
}

.row {

}

.col-6 {
	padding: 15px 30px;
}

.item_category {
	text-align: left;
	margin: 30px 50px;
}

.item_img {
	width: 70%;
}

.simple_info {
	border-bottom: 2px solid #e0dfdf;
}

.item_name, .item_value, .item_location, .item_owner, .item_description {
	margin: 10px;
	color: #778899;
}

.add_cart {
	margin: 10px;
}

.name, .value, .location,  .owner, .description{
	margin: 10px;
}

.info {
	text-align: left;
}
