html {
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #013243;
}

body {
    /*background-image: url("../img/14885.jpg");*/
    /*height: 100%;*/
    background-color: #9fd0e1;
    /*background-size: 450px; */
    margin: auto;
}

.container {
    /*margin-block-start: 1em;*/
    margin-block-end: 1em;
 /*   margin-inline-start: 40px;
    margin-inline-end: 40px;*/
    margin: 100px auto;
    bottom: auto;
    width: 560px;
}

.box {
	border-radius: 10px;
	background: #fcfbf6;
	padding: 3px 0;
}

header {
    margin: 0 10px;
}

.title {
	font-size: 30px;
}

form input[type="text"]:focus + i {
	color: skyblue;
}

form {
	position: relative;
}

i {
	position: absolute;
	text-align: center;
	left: 0;
	padding: 12px;
	color: #cccccc;
	transition: 0.3s;
	margin: 0 25%;
}

.button {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: #ffa6aa;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    
    -webkit-box-shadow: 0 10px 6px -6px #ccc;;
    -moz-box-shadow: 0 10px 6px -6px #ccc;;
    box-shadow: 0 10px 6px -6px #ccc;
}

.button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    position: relative;
}
