html {
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #013243;
}

body {
    background-color: #fcfbf6;
    margin: auto;
}

#container {
    margin-block-end: 1em;
    margin: 100px auto;
    bottom: auto;
    width: 560px;
}

.box {
	border-radius: 10px;
	background: #b7dcec;
	padding: 3px 0;
}

header {
    margin: 0 10px;
}

.title {
	font-size: 30px;
}

form input:focus + i {
	color: skyblue;
}

form {
	position: relative;
}

i {
	position: absolute;
	text-align: center;
	left: 0;
	padding: 12px;
	color: #cccccc;
	transition: 0.3s;
	margin: 0 25%;
}

.button {
    font-family: 'Open Sans', sans-serif;
    color: #ffa6aa;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    box-shadow: 0 10px 6px -6px #ccc;
}

.button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    cursor: pointer;
}
