@media screen and (max-width: 567px) {
	.card {
		width: 40%;
		display: inline-block;
	}
}

@media screen and (max-width: 750px) {
	.banner_img {
		width: 100%;
	}

	.row {
		display: block;
	}

	.col-6 {
		max-width: 100%;
	}
}