.banner {
	text-align: center;
}

.banner_img {
	/*目前是 700px*/
}

#item_display {
	width: 100%;
}
h2 {
	margin: 10px 50px;
	text-align: left;
}

.card {
	width: 15%;
	display: inline-block;
}

.card-title {
	font-size: 14px;
}
