.username, .password, .hint {
	width: 50%;
	height: 40px;
	padding: 0px 10px;
	border: 1px solid #cccccc;
	margin-bottom: -1px;
	outline: none;
	box-sizing: border-box;
	transition: 0.3s;
	padding-left: 40px;
	position: relative;
	font-size: 15px;
}

.username {
	border-radius: 5px 5px 0 0;
}

.hint {
	border-radius: 0 0 5px 5px;
}

.old_member {
	padding: 5px 0 30px;
}

span {
	position: relative;
	padding-right: 16px;
	font-size: 16px;
}

