html {
	font-family: 'Open Sans', sans-serif;
	color: #013243;
}

body {
	background-color: #fcfbf6;
	margin: auto;
}

header {
	text-align: center;
	margin: 0 10px;
}

.container {
	margin-block-end: 1em;
	margin: 50px auto;
	bottom: auto;
	width: 800px;
}

.box {
	border-radius: 10px;
	background: #b7dcec;
	padding: 3px 0;
}

#item_container {
	display: flex;
	margin: auto 10px;
}

#image {
	border-radius: 10px;
	border: 1px solid #cccccc;
	margin: 10px 20px;
	background: #ffffff;
	padding: 10px;
	width: 50%;
}

img {
	max-width: 100%;
}

.item {
	width: 50%;
	margin: 10px 20px;
}

.item_name, .item_value, .item_location, .item_description, .item_category {
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
	position: relative;
	font-size: 15px;
	border-radius: 5px;
	box-sizing: border-box;
}

.item_name, .item_value, .item_location {
	height: 40px;
}

.item_description {
	height: 180px;
	padding: 10px;
	line-height: 1.5;
	resize: none;
	margin-bottom: 0;
}

.button {
	font-family: 'Open Sans', sans-serif;
	color: #ffa6aa;
	font-size: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	margin: 20px 0;
	box-shadow: 0 10px 6px -6px #ccc;
}

.button:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
	position: relative;
}

#file {
	margin: auto 50px;
}

.post {
	margin-left: 560px;
}

