@media screen and (max-width: 770px) {
	.row {
		display: block;
	}

	.post {
		margin-left: 25%;
	}

	.container {
		width: 100%;
	}

	.col-6 {
		max-width: 100%;
		width: 100%;
	}

	#image {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
	    max-width: 800px;
	}
}