.homeTitle{
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.homeSubTitle{
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.homeLinks{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

.homeBackground{
    background-image: url("../img/bkImg_blue.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
}

.homeBlock{
    display: block;
    float: center;
    margin:auto;
    text-align: center;
    position: relative;
    top: 100px;
    margin-top: 3%;
}
